<div class="main">
  <span class="title text-shadow">Login</span>
  <form [formGroup]="loginForm" class="flex-col form-gap">
    <div class="flex-col">
      <label for="email">Email</label>
      <input class="form-input" type="email" name="email" id="email" formControlName="email" autocomplete="off">
      <span class="error-msg" *ngIf="email.hasError('email')">Please enter a valid email</span>
    </div>
    <div class="flex-col">
      <label for="password">Password</label>
      <input class="form-input secret-input" type="password" name="password" id="password" formControlName="password" autocomplete="off">
    </div>
  </form>
  <div class="flex">
    <div class="button" [routerLink]="'/'">Cancel</div>
    <div class="button button-color" (click)="login()">Login</div>
  </div>
</div>
